:host {
  display: block;
  padding-top: 5rem;
}

button {
  background-color: #ea4c89;
  border: none;
  border-radius: 4px;
  padding: 0.75rem 1.5rem;
  color: white;
  font-size: 1rem;
  outline: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}
